{% extends 'admin/master.html' %}
{% block body %}
<p>{{queryUpdate}}</p>
<!--<p>TEST</p>-->
<!--<p>{{request}}</p>-->
<!--<p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->
<!--{% for item in dataColumn %}-->
<!--<p>{{item}}</p>-->
<!--{% endfor%}-->

<!--<p>Data để where</p>-->
<!--{% for item in dataTableCurrent %}-->
<!--<p>{{item}}</p>-->
<!--{% endfor%}-->

<!--<p>Data để update</p>-->
<!--{% for item in dataTableEdit %}-->
<!--<p>{{item}}</p>-->
<!--{% endfor%}-->

<!--<p>Kiểu dữ liệu</p>-->
<!--{% for item in info %}-->
<!--<p>{{item[1]}}</p>-->
<!--{% endfor%}-->
<!--<p>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</p>-->



{% endblock %}