{% extends 'index.html' %}
{% block body %}
<form method="post" action="{{url_for('create_table')}}" name="formCreateTable">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Selects Database</h5>
        </div>
        <div class="card-body">
            <select name="choose_database" class="form-select mb-3">
                {% for item in data %}
                <option>{{item}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="card">
        {{Test}}
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Name Table</h5>
        </div>
        <div class="card-body">
            <div class="form-group row pb-5">
                <div class="col-sm-10">
                    <input name="nameTable" type="text" class="form-control" placeholder="name table">
                </div>
                <div class="col-sm-2">
                    <button class="btn btn-success">Create</button>
                </div>
            </div>
            <div class="table-responsive">
                <table id="myTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="position: relative; text-align: center;">Name Column</th>
                        <th style="position: relative; text-align: center;">Types</th>
                        <th style="position: relative; text-align: center;">PK</th>
                        <th style="position: relative; text-align: center;">NN</th>
                        <th style="position: relative; text-align: center;">UQ</th>
                        <th style="position: relative; text-align: center;">B</th>
                        <th style="position: relative; text-align: center;">UN</th>
                        <th style="position: relative; text-align: center;">ZF</th>
                        <th style="position: relative; text-align: center;">AI</th>
                        <th style="position: relative; text-align: center;">G</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <td>
                            <input type="text" class="form-control input-sm" id="nameColumnTable1"
                                   name="nameColumnTable" placeholder="name column">
                        </td>

                        <td>
                            <div style="position: relative; text-align: center;" class="form-group">
                                <input name="chooseTypeColumn" type="text" list="cars"/>
                                <datalist id="cars">
                                    {% for item in dataTypeTable %}
                                    <option>{{item[1]}}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                        </td>

                        <td style="position: relative; text-align: center;">
                            <input class="form-check-input" type="checkbox" value="PK">
                        </td>

                        <td style="position: relative; text-align: center;">
                            <input class="form-check-input" type="checkbox" value="NN">
                        </td>

                        <td style="position: relative; text-align: center;">
                            <input class="form-check-input" type="checkbox" value="UQ">
                        </td>

                        <td style="position: relative; text-align: center;">
                            <input class="form-check-input" type="checkbox" value="B">
                        </td>

                        <td style="position: relative; text-align: center;">
                            <input class="form-check-input" type="checkbox" value="UN">
                        </td>

                        <td style="position: relative; text-align: center;">
                            <input class="form-check-input" type="checkbox" value="ZF">
                        </td>

                        <td style="position: relative; text-align: center;">
                            <input class="form-check-input" type="checkbox" value="AI">
                        </td>

                        <td style="position: relative; text-align: center;">
                            <input class="form-check-input" type="checkbox" value="G">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
{% endblock %}